@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
  /* background: #C33764;
  background: -webkit-linear-gradient(to top, #C33764, #1D2671);
  background: linear-gradient(to top, #C33764, #1D2671);  */
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2b5876, #4e4376);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2b5876, #4e4376); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 700px;
  z-index: 0;
}

.todo-container input[type="checkbox"] {
  display: none;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo-container {
  display: flex;
  width: 600px;
  height:600px;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.todo-container input {
  padding: 8px 8px 8px 15px;
  height: 44px;
  width: 400px;
  border-radius: 56px;
  outline: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  color: #172f5e;
  margin-bottom: 30px;
}

.todo-container form {
  width: 500px;
}

.todo-container h1 {
  margin-left: auto;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 1px;
  margin-right: auto;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}
