@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
  background-color: #394144;
  height: 700px;
  z-index: 0;
}

.todo-container input[type="checkbox"] {
  display: none;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo-container {
  display: flex;
  width: 800px;
  height:1000px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.todo-container input {
  padding: 8px 8px 8px 15px;
  height: 60px;
  width: 550px;
  border-radius: 56px;
  outline: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  color: #172f5e;
  margin-right: 10px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.todo-container form {
  margin-top: 60px;
  width: 800px;
}

.todo-container h1 {
  font-weight: 600;
  font-size: 100px;
  color: #ffffff;
  text-align: left;
  margin: 0px;
  padding-bottom: 10px;
  line-height: 0.8;
}

.todo-container h2 {
  font-weight: 600;
  font-size: 100px;
  color: #ffdd02;
  text-align: left;
  margin: 0px;
  padding-top: 0;
}
