@import url('https://fonts.googleapis.com/css?family=Niramit:200,300,400,500,600,700');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #000000;
  font-family: 'Niramit', sans-serif;
}

.todo-container input[type="checkbox"] {
  display: none;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  padding: 10px;
}

.todo-container h1 {
  margin-left: auto;
  margin-right: auto;
}
